@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    margin: 0;

    background: #fff;
    color: #000;
    font-family: 'Rubik', sans-serif;

    &[theme="dark"] {
        background: #3B3838;
        color: #fff;
    }

    p {
        margin: 0;
    }

    footer {
        display: flex;
        gap: .5rem;
        align-items: center;
        justify-content: center;

        padding: .5rem;
        text-align: center;
        
        background: rgba($color: #000000, $alpha: 0.1);

        .footer-socials {
            display: flex;
            justify-content: space-between;
            gap: .5rem;

            i {
                font-size: 20px;

                [brand="github"] {
                    color: white;
                }

                [brand="instagram"] {

                }

                [brand="discord"] {
                    
                }
            }
        }
    }
}