@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    margin: 0;

    background: #fff;
    color: #000;
    font-family: 'Rubik', sans-serif;

    &[theme="dark"] {
        background: #3B3838;
        color: #fff;
    }

    p {
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    .btn {
        text-transform: uppercase;
        padding: 1.5em 2em;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
        letter-spacing: 2px;
        text-align: center;
        transition: all 0.2s ease-in-out;
        background: linear-gradient(to right, #1b9e5f, #3dc59f);
        background-size: 200% auto;
        box-shadow: 0px 10px 20px rgba(27, 158, 95, 0.4);
        
        &:hover {
            transform: translateY(-2px);
            box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
            background-position: right center;
        }

        &.red {
            background: linear-gradient(to right, #f53939, #f12121);
            box-shadow: 0px 10px 20px rgba(245, 57, 57, 0.4);
        }

        &.dark-yellow {
            background: linear-gradient(to right, #feba11, #f3af3b);
            box-shadow: 0px 10px 20px rgba(254, 186, 17, 0.4);
        }

        &.dark {
            background: linear-gradient(to right, #1a202c, #2d3e50);
            box-shadow: 0px 10px 20px rgba(26, 32, 44, 0.4);
        }

        &.light {
            background: linear-gradient(to right, #f7fafc, #edf2f7);
            box-shadow: 0px 10px 20px rgba(247, 250, 252, 0.4);
        }      
    }

    footer {
        @media only screen and (min-width: 600px) {
            display: flex;
            gap: .5rem;
        }

        align-items: center;
        justify-content: center;

        padding: .5rem;
        text-align: center;
        
        background: rgba($color: #000000, $alpha: 0.1);

        .footer-socials {
            display: inline-flex;
            gap: .5rem;

            @media only screen and (min-width: 600px) {
                display: flex;
                justify-content: space-between;
            }

            i {
                font-size: 20px;
                transition: all .5s ease;

                &[brand="github"] {
                    color: #fff;

                    &:hover {
                        color: darken($color: #fff, $amount: 20%);
                    }
                }

                &[brand="instagram"] {
                    color: #c13584;

                    &:hover {
                        color: darken($color: #c13584, $amount: 20%);
                    }
                }

                &[brand="discord"] {
                    color: #7289da;

                    &:hover {
                        color: darken($color: #7289da, $amount: 20%);
                    }
                }
            }
        }
    }
}